<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="bg-primary sm-pt-2">
      <div class="container">
        <div class="header-section">
          <h1><img class="logo" href="./index.html" src="./assets/images/logo-white.png" alt="logo"></h1>
          <nav>
            <ul class="sm-pt-2">
              <li class="menu-list"><a href="#glass">系列鏡框</a></li>
              <li class="menu-list "><a href="#market">門市據點</a></li>
              <li class="menu-list "><a href="#blog">部落格</a></li>
              <li class="menu-list"><a href="#qa">常見問題</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="bg-primary">
      <div class="container">
        <div class="footer-container">
          <div class="footer-menu-container">
            <div class="footer-menu">
              <ul>
                <li class="mr-6"><a href="#">首頁</a></li>
                <li class="mr-6"><a href="#glass">系列鏡框</a></li>
                <li class="mr-6"><a href="#market">門市據點</a></li>
                <li class="mr-6"><a href="#blog">部落格</a></li>
                <li><a href="#qa">常見問題</a></li>
              </ul>
            </div>
            <div class="footer-social">
              <img class="social-img mr-4 md-mr-2" src="./assets/images/ic-social-fb.png" alt="facebook">
              <img class="social-img mr-4 md-mr-2" src="./assets/images/ic_social_ig.png" alt="instgram">
              <img class="social-img" src="./assets/images/ic_social_line.png" alt="line">
            </div>  
          </div>
          <ul class="footer-contact">
            <li>
              <span class="material-icons-outlined">call</span>
              <a class="text" href="tel:+">0800-000-000</a>
            </li>
            <li class="mb-4">
              <span class="material-icons-outlined">email</span>
              <a class="text" href="mailto:">glasses@business.com</a>
            </li>
          </ul>
        </div>  
        <div class="copyright">
          <p class="sm-mb-1">Copyright © 2020 Glasses.All rights reserved.</p>
          <ul>
            <li class="text sm-mb-1"><a href="#privacy">隱私權政策</a></li>
            <li><a href="#termsService">服務條款</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
