.header{
    background: $primary;
    padding: 16px 0;
    @include mobile{

        padding: 16px 0 0 0;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            display: block;
            padding: 0;
        }
    }
    .logo{

        width: 80px;
        @include mobile{
            margin-bottom: 16px;
            margin-left: 40%;
        }

    }
    .menu-section{
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: end;
        margin-left: 50%;
        width: 100%;
        .menu-list{
            width: 25%;
            padding: 0;
            border: 0;
            a{
                
                color: $white;
            }
        }
        @include pad{
            
            margin-left: 124px;
        }
        @include mobile{
            margin-left: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .menu-list{
                width: 50%;
                padding: 12px 60px;
                // margin-right:  -1px;
                // margin-bottom: -1px;
                border: 1px solid $white;
                text-align: center;
                
            }
        }
    }
}
.footer{
    background: $primary;
}