$primary:#AA0601;
$secondary:#000000;
$white: #FFFFFF;
@mixin laptop{
  @media(max-width:1920px){
    @content;
  }
}
@mixin pad{
    @media(max-width: 992px){
      @content;
    }
  }
  
@mixin mobile{
  @media(max-width: 767px){
    @content;
  }
}
