@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&family=Source+Sans+Pro:wght@600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: middle; }

*, *::before, *::after {
  font-family: "Noto Sans TC", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5; }
  @media (max-width: 475px) {
    *, *::before, *::after {
      font-size: 16px; } }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.bg-primary {
  background: #AA0601; }

.underline {
  border-left: 8px solid #9F1213; }

.container {
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 1600px) {
    .container {
      max-width: 1320px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 475px) {
    .container {
      max-width: 100%; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }

.txt-center {
  text-align: center; }

@media (max-width: 475px) {
  .sm-mb-1 {
    margin-bottom: 8px; } }

@media (max-width: 475px) {
  .sm-pt-2 {
    padding-top: 16px; } }

.mb-1 {
  margin-bottom: 8px; }

.mr-1 {
  margin-right: 8px; }

.ml-2 {
  margin-left: 16px; }

.mt-4 {
  margin-top: 32px; }

.mb-4 {
  margin-bottom: 32px; }

.mr-4 {
  margin-right: 32px; }

.mt-5 {
  margin-top: 40px; }

.mb-5 {
  margin-bottom: 40px; }

@media (max-width: 768px) {
  .md-mr-2 {
    margin-right: 16px; } }

.mr-6 {
  margin-right: 48px; }

.mb-6 {
  margin-bottom: 48px; }

.mr-8 {
  margin-right: 64px; }

.mb-10 {
  margin-bottom: 80px; }

.mt-12 {
  margin-top: 96px; }

.fs-2 {
  font-size: 16px; }

.fs-2-5 {
  font-size: 20px; }

.fs-3 {
  font-size: 24px; }

.fs-6 {
  font-size: 48px; }

.fs-16 {
  font-size: 16px; }

.header ul {
  max-width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media (max-width: 475px) {
    .header ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.header a {
  color: #FFFFFF; }

.header .header-section {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 475px) {
    .header .header-section {
      display: block;
      padding: 0; } }

.header .logo {
  width: 80px; }
  .header .logo img {
    width: 100%; }

@media (max-width: 475px) {
  .menu-list {
    margin: 0;
    width: 50%;
    text-align: center;
    border: 1px solid #FFFFFF; } }

.material-icons-outlined {
  color: #FFFFFF;
  font-size: 36px;
  vertical-align: baseline; }
  @media (max-width: 475px) {
    .material-icons-outlined {
      font-size: 18px; } }

.footer p {
  color: #FFFFFF; }

.footer a {
  font-size: 16px;
  color: #FFFFFF; }

@media (max-width: 475px) {
  .footer-container {
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.footer-menu-container {
  padding-top: 48px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 475px) {
    .footer-menu-container {
      padding-top: 24px;
      display: block;
      margin-bottom: 56px; } }

.footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

@media (max-width: 475px) {
  .footer-menu {
    display: none; } }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-social .social-img {
    width: 48px;
    height: 48px; }
    @media (max-width: 475px) {
      .footer-social .social-img {
        width: 24px;
        height: 24px; } }

.footer-contact .text {
  font-size: 36px; }
  @media (max-width: 475px) {
    .footer-contact .text {
      font-size: 16px; } }

@media (max-width: 475px) {
  .footer-contact {
    padding-top: 24px; } }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #FFFFFF;
  padding: 32px 0; }
  @media (max-width: 475px) {
    .copyright {
      display: block;
      padding: 16px 14px 24px 13px; } }
  .copyright .text {
    margin-right: 48px; }
    @media (max-width: 475px) {
      .copyright .text {
        margin-right: 0; } }
  .copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 475px) {
      .copyright ul {
        display: block; } }

.location .select {
  border: 1px solid #CED4DA;
  margin-left: 16px;
  width: 304px;
  height: 38px;
  padding: 6px 12px; }

.location img {
  width: 416px; }

.location .card-list {
  margin: 40px -12px 80px -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.location .card {
  padding: 0 12px; }
  .location .card-footer {
    padding: 16px 17px;
    background: #000000;
    border: 1px solid #00000020;
    text-align: center; }
    .location .card-footer a {
      color: #FFFFFF; }

.underline {
  position: relative; }
  .underline.underline-start {
    position: absolute; }

.location-info {
  margin-top: 40px;
  margin-bottom: 64px; }
  @media (max-width: 768px) {
    .location-info {
      margin-top: 80px;
      margin-bottom: 80px; } }
  @media (max-width: 1600px) {
    .location-info {
      margin-top: 96px;
      margin-bottom: 80px; } }
  .location-info img {
    max-width: 100%;
    height: auto; }
    @media (max-width: 768px) {
      .location-info img {
        margin-right: 24px;
        width: 337px; } }
    @media (max-width: 1600px) {
      .location-info img {
        margin-right: 24px;
        width: 526px; } }
  .location-info .select-area {
    margin: 24px 0; }
    @media (max-width: 768px) {
      .location-info .select-area {
        margin-top: 40px;
        margin-bottom: 24px; } }
    .location-info .select-area span {
      font-size: 16px; }
    .location-info .select-area .select {
      font-size: 18px;
      border: 1px solid #CED4DA;
      margin-left: 16px;
      width: 304px;
      height: 38px;
      padding: 6px 12px; }

.card {
  margin-bottom: 24px; }
  .card .material-icons-outlined {
    color: black;
    font-size: 24px; }
  @media (max-width: 768px) {
    .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }
  .card-title {
    padding: 8px 24px;
    border: 1px solid #00000020; }
  .card-body {
    padding: 16px 24px;
    border: 1px solid #00000020; }
    .card-body p {
      color: black; }

/*# sourceMappingURL=all.css.map */
