@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&family=Source+Sans+Pro:wght@600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: middle; }

*, *::before, *::after {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.underline {
  border-left: 8px solid #9F1213; }

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 1920px) {
    .container {
      max-width: 1320px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 100%; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }

.txt-center {
  text-align: center; }

@media (max-width: 767px) {
  .sm-mb-1 {
    margin-bottom: 8px; } }

@media (max-width: 767px) {
  .sm-pt-2 {
    padding-top: 16px; } }

.mb-1 {
  margin-bottom: 8px; }

.mr-1 {
  margin-right: 8px; }

.ml-2 {
  margin-left: 16px; }

.mt-4 {
  margin-top: 32px; }

.mb-4 {
  margin-bottom: 32px; }

.mr-4 {
  margin-right: 32px; }

.mt-5 {
  margin-top: 40px; }

.mb-5 {
  margin-bottom: 40px; }

@media (max-width: 992px) {
  .md-mr-2 {
    margin-right: 16px; } }

.mr-6 {
  margin-right: 48px; }

.mb-6 {
  margin-bottom: 48px; }

.mr-8 {
  margin-right: 64px; }

.mb-10 {
  margin-bottom: 80px; }

.mt-12 {
  margin-top: 96px; }

.fs-2 {
  font-size: 16px; }

.fs-2-5 {
  font-size: 20px; }

.fs-3 {
  font-size: 24px; }

.fs-6 {
  font-size: 48px; }

.fs-16 {
  font-size: 16px; }

.header {
  background: #AA0601;
  padding: 16px 0; }
  @media (max-width: 767px) {
    .header {
      padding: 16px 0 0 0; } }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .header .container {
        display: block;
        padding: 0; } }
  .header .logo {
    width: 80px; }
    @media (max-width: 767px) {
      .header .logo {
        margin-bottom: 16px;
        margin-left: 40%; } }
  .header .menu-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: end;
    margin-left: 50%;
    width: 100%; }
    .header .menu-section .menu-list {
      width: 25%;
      padding: 0;
      border: 0; }
      .header .menu-section .menu-list a {
        color: #FFFFFF; }
    @media (max-width: 992px) {
      .header .menu-section {
        margin-left: 124px; } }
    @media (max-width: 767px) {
      .header .menu-section {
        margin-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; }
        .header .menu-section .menu-list {
          width: 50%;
          padding: 12px 60px;
          border: 1px solid #FFFFFF;
          text-align: center; } }

.footer {
  background: #AA0601; }

.material-icons-outlined {
  color: #FFFFFF;
  font-size: 36px;
  vertical-align: baseline; }
  @media (max-width: 767px) {
    .material-icons-outlined {
      font-size: 18px; } }

.footer p {
  color: #FFFFFF; }

.footer a {
  font-size: 16px;
  color: #FFFFFF; }

@media (max-width: 767px) {
  .footer-container {
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.footer-menu-container {
  padding-top: 48px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .footer-menu-container {
      padding-top: 24px;
      display: block;
      margin-bottom: 56px; } }

.footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

@media (max-width: 767px) {
  .footer-menu {
    display: none; } }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-social .social-img {
    width: 48px;
    height: 48px; }
    @media (max-width: 767px) {
      .footer-social .social-img {
        width: 24px;
        height: 24px; } }

.footer-contact .text {
  font-size: 36px; }
  @media (max-width: 767px) {
    .footer-contact .text {
      font-size: 16px; } }

@media (max-width: 767px) {
  .footer-contact {
    padding-top: 24px; } }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #FFFFFF;
  padding: 32px 0; }
  @media (max-width: 767px) {
    .copyright {
      display: block;
      padding: 16px 14px 24px 13px; } }
  .copyright .text {
    margin-right: 48px; }
    @media (max-width: 767px) {
      .copyright .text {
        margin-right: 0; } }
  .copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .copyright ul {
        display: block; } }

.location .select {
  border: 1px solid #CED4DA;
  margin-left: 16px;
  width: 304px;
  height: 38px;
  padding: 6px 12px; }

.location img {
  width: 416px; }

.location .card-list {
  margin: 40px -12px 80px -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.location .card {
  padding: 0 12px; }
  .location .card-footer {
    padding: 16px 17px;
    background: #000000;
    border: 1px solid #00000020;
    text-align: center; }
    .location .card-footer a {
      color: #FFFFFF; }

.location-info {
  margin-top: 96px;
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .location-info {
      margin: 80px 0; } }
  @media (max-width: 767px) {
    .location-info {
      margin-top: 40px;
      margin-bottom: 64px; } }
  .location-info h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .location-info h1 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .location-info span {
    font-size: 24px; }
    @media (max-width: 767px) {
      .location-info span {
        font-size: 16px; } }
  .location-info .select-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .location-info .select-area {
        margin-bottom: 24px; } }
    .location-info .select-area .select {
      margin-left: 16px;
      font-size: 18px;
      width: 304px;
      height: 38px; }
  .location-info .info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 992px) {
      .location-info .info-content {
        display: block; } }
  @media (max-width: 992px) {
    .location-info .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .location-info .card {
      display: block; } }
  .location-info .card img {
    width: 526px; }
    @media (max-width: 992px) {
      .location-info .card img {
        width: 337px; } }
    @media (max-width: 767px) {
      .location-info .card img {
        width: 100%; } }
  .location-info .card .card-body {
    width: 526px;
    border: 1px solid #00000020; }
    @media (max-width: 992px) {
      .location-info .card .card-body {
        width: 337px; } }
    @media (max-width: 767px) {
      .location-info .card .card-body {
        width: 100%; } }
  .location-info .card .card-title {
    padding: 8px 24px;
    font-size: 24px; }
  .location-info .card .card-content {
    border-top: 1px solid #00000020;
    padding: 16px 24px;
    font-size: 20px; }
  .location-info .map img {
    width: 746px;
    height: 446px; }
    @media (max-width: 992px) {
      .location-info .map img {
        width: 696px;
        height: 414px; } }
    @media (max-width: 767px) {
      .location-info .map img {
        width: 100%;
        height: auto; } }
  .location-info .material-icons-outlined {
    color: black; }

/*# sourceMappingURL=all.css.map */
